<ion-view view-title="Chat">
  <ion-content>

    <div id="browser-window" >
      <div id="viewport">
        <div id="viewport-content">
          <div class="bubble-container" ng-repeat="m in messages">
            <div class="avatar avatar-{{m.side}}"><img ng-src="{{m.avatar}}" /></div>
            <div class="bubble bubble-{{m.side}}">{{m.text}}</div>
          </div>
        </div>
      </div>
      <form class="row row-chat">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="messageText" placeholder="Type your message" />
          <span class="input-group-btn">
            <button ng-click="sendMsg()" class="btn btn-primary">Send</button>
          </span>
        </div>
      </form>
    </div>

  </ion-content>
</ion-view>
