<ion-view view-title="Chat">
  <ion-content>

    <div id="browser-window" >
      <div id="viewport">
        <div id="viewport-content">
          <div class="bubble-container" ng-repeat="m in messages">
            <div class="avatar avatar-{{m.side}}"><img ng-src="{{m.avatar}}" /></div>
            <div class="bubble bubble-{{m.side}}">{{m.text}}</div>
          </div>
        </div>
      </div>
      <form class="row row-chat">
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" ng-model="ctrl.messageText" placeholder="Type your message">
            </label>
            <button class="button button-small" ng-click="sendMsg()">
              Send
            </button>
          </div>
        </div>
      </form>
    </div>

  </ion-content>
</ion-view>
