<ion-view view-title="Crush">
    <ion-content>
        <div class="list card">
<!--            find a crush
            real position, with information of the people
            but no pictures and no names
            if you want to meet the person. send a crush
            the other person receives the crush and it has the opportunity to accept the crush
            ones this person accepts that, they interchange information.
            o si quieres buscar por esa persona tu mismo
            le das al boton activar, y el sistema te pone en tu pantalla una cara sonriente de un color especifico.
            si la otra persona acepta: se le mostrara la misma cara con dicho color y asi podrán encontrarse.
            el color será asignado por el servidor. este cogera la ubicación del usuario solicitante y
            asignará un color que no se este utilizando en ese momento en esa area.
-->
            <div id="crushchart" style="width:100%; height: 300px; margin: 0 auto"></div>
        </div>
    </ion-content>
</ion-view>
