<ion-view view-title="Home">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/male.png">
                <h2>Lucho</h2>
                <p>
                    I can make your dreams true... <a href="#"> <i class="icon ion-edit icon-right-20px"></i></a> 
                </p>
            </div>
            <div class="item item-select-circular">
                <div class="row">
                    <div class="col col-67">
                        <select id="selDemo"></select>
                    </div>
                    <div class="col col-33">
                        <p>
                            Add message
                        </p>
                        <p>
                            Last for 4 hrs
                        </p>
                    </div>
                </div>
            </div>
            <div class="item item-body">
                <a href="#" class="item item-icon-left">
                    <i class="icon ion-ios-email-outline"></i>
                    You have 3 new messages
                </a>
            </div>
            <div class="item item-body">
                <div id="container" style="width:100%; height: 160px; margin: 0 auto"></div>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                  <i class="icon ion-clock"></i>
                  Updated 5 min. ago
                </a>
                <a class="tab-item" href="#">
                  <i class="icon ion-refresh"></i>
                  Refresh
                </a>
<!--                <a class="tab-item" href="#">
                  <i class="icon ion-share"></i>
                  Share
              </a>-->
            </div>
        </div>
    </ion-content>
</ion-view>
